<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>疫情可视化分析系统</title>


    {% load static %}
    <!-- CSS -->
    <link href={% static "visual/assets/css/fonts/fontawesome/all.min.css" %} rel="stylesheet">
    <link href={% static "visual/assets/css/fonts/beid.css" %} rel="stylesheet">
    <link href={% static "visual/assets/css/styles.css" %} rel="stylesheet">
    <link href={% static "visual/assets/css/Range/range.css" %} rel="stylesheet">



    <!-- JQVMAP -->
    <link href={% static "visual/assets/plugins/jqvmap/jqvmap.min.css" %} rel="stylesheet">

    <!-- dateRangePicker -->
    <link href={% static "visual/assets/plugins/daterangepicker/daterangepicker.css" %} rel="stylesheet">



    <!-- Fonts -->
    <link href={% static "visual/assets/fonts/inter/inter.css" %} rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--[if lt IE 9] -->
    <script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <!-- jQuery -->
    <script src={% static "visual/assets/js/jquery.min.js" %}></script>
    <!--echarts-->
    <script type="text/javascript" src={% static "visual/assets/js/echarts.js" %}></script>


    <!-- Bootstrap -->
    <script src={% static "visual/assets/js/bootstrap.min.js" %}></script>

    <!-- Chart.js -->
    <script src={% static "visual/assets/plugins/chart/Chart.min.js" %} id="_chartJS_min"></script>
    <script src={% static "visual/assets/plugins/chart/Chart.bundle.min.js" %}></script>
    <script src={% static "visual/assets/plugins/chart/chartjs-plugin-annotation.js" %}></script>
    <script src={% static "visual/assets/plugins/chart/chartjs-plugin-labels.js" %}></script>

    <!-- apexcharts -->
    <script src={% static "visual/assets/plugins/apexcharts/apexcharts.min.js" %}></script>

    <!-- Moment -->
    <script src={% static "visual/assets/plugins/lib/moment/moment.min.js" %}></script>

    <!-- User JS -->
    <script src={% static "visual/assets/js/scripts.js" %}></script>
    <script src={% static "visual/assets/js/range.js" %}></script>


    <!-- Modules -->
    <!--    <script src="assets/js/modules.js"></script>-->


    <script src={% static "visual/assets/js/map/china.js" %}></script>
    <script src={% static "visual/assets/js/map/chinaMap.js" %}></script>

    <style>
        body {
            background-color: #010016;
        }
        #confirmBtn,#deathBtn,#recoverBtn {
            -moz-box-shadow: inset 0 0 0 1px #63ad0d;
            -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            background: #eee;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
            background: -moz-linear-gradient(#eee, #e2e2e2);
            background: linear-gradient(#eee, #e2e2e2);
            border: solid 1px #d0d0d0;
            border-bottom: solid 3px #b2b1b1;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px #f5f5f5;
            color: #555;
            display: inline-block;
            font-size:16px;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 1px 0 #fafafa;
        }
        a{text-decoration:none};


    </style>
</head>

<body>




<link href="http://fonts.googleapis.com/css?family=Maven+Pro:400" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css" />


<script src="https://d3js.org/d3.v4.js"></script>

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<div class="main-container">
    <div class="overflow-hidden">

        
        <!-- charts -->
        <div id="charts" class="page-content-fl" style="position:absolute;height:600px">
            <div class="d-flex align-items-center px-6 py-5">
                <div class="text-light mr-auto" style="position:absolute;left:415px;top:12px;width:670px;height:200px">
                    <h1 style="font-size: 23px;color:white"><center>新冠疫情可视化分析</center></h1>
                </div>
            </div>

            <div class="container-fluid p-0" >


<!--            <div style="position:absolute;left:400px;top:0px;width:1000px;height:200px">-->
<!--                <svg width="700">-->

<!--                    <defs>-->
<!--                    <linearGradient id="c1" x1="0%" y1="0%" x2="0%" y2="100%">-->
<!--                        <stop offset="0%" stop-color="#7db9de" />-->
<!--                        <stop offset="100%" stop-color="#0b346e" />-->
<!--                    </linearGradient>-->
<!--                    </defs>-->

<!--                    <line x1="0" y1="0" x2="35" y2="40" transform="translate(175,25)" stroke="url(#c1)" stroke-width="3" />-->
<!--                    <line x1="0" y1="0" x2="280" y2="0" transform="translate(210,65)" stroke="#0b346e" stroke-width="3" />-->
<!--                    <line x1="0" y1="0" x2="250" y2="0" transform="translate(225,75)" stroke="#0b346e" stroke-width="3" />-->
<!--                    <line x1="0" y1="0" x2="220" y2="0" transform="translate(240,85)" stroke="#0b346e" stroke-width="3" />-->
<!--                    <line x1="0" y1="40" x2="35" y2="0" transform="translate(490,25)" stroke="url(#c1)" stroke-width="3" />-->


<!--                    <line x1="0" y1="0" x2="160" y2="0" transform="translate(16,25)" stroke="#7db9de" stroke-width="3" />-->
<!--                    <line x1="0" y1="0" x2="160" y2="0" transform="translate(525,25)" stroke="#7db9de" stroke-width="3" />-->
<!--                </svg>-->

<!--            </div>-->


                <div style="position:absolute;left:0px;top:0px;width:700px;height:200px">
                    <svg width="1500">

                        <defs>
                            <linearGradient id="c1" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="0%" stop-color="#7db9de" />
                                <stop offset="100%" stop-color="#0b346e" />
                            </linearGradient>
                        </defs>

                        <line x1="0" y1="0" x2="35" y2="40" transform="translate(575,25)" stroke="url(#c1)" stroke-width="3" />
                        <line x1="0" y1="0" x2="280" y2="0" transform="translate(610,65)" stroke="#0b346e" stroke-width="3" />
                        <line x1="0" y1="0" x2="250" y2="0" transform="translate(625,75)" stroke="#0b346e" stroke-width="3" />
                        <line x1="0" y1="0" x2="220" y2="0" transform="translate(640,85)" stroke="#0b346e" stroke-width="3" />
                        <line x1="0" y1="40" x2="35" y2="0" transform="translate(890,25)" stroke="url(#c1)" stroke-width="3" />


                        <line x1="0" y1="0" x2="560" y2="0" transform="translate(16,25)" stroke="#7db9de" stroke-width="3" />
                        <line x1="0" y1="0" x2="560" y2="0" transform="translate(925,25)" stroke="#7db9de" stroke-width="3" />



                    </svg>

                </div>





                <div style="position:absolute;left:430px;top:40px;width:120px;height:200px">

                    <ul id="nav">
                        <li><a class="hsubs" href="#">全国情况</a>
                            <ul class="subs">
                                <li><a href="Covid.html">疫情分析</a></li>
                                <li><a href="GDP.html">经济核算</a></li>
                                <li><a href="Finance.html" >财政金融</a></li>
                                <li><a href="Trading.html">国内贸易</a></li>
                            </ul>
                        </li>

                        <div id="lavalamp" style="left:30px;top:5px"></div>
                    </ul>

                </div>

                <div style="position:absolute;left:950px;top:40px;width:120px;height:200px">

                    <ul id="nav">
                        <li><a class="hsubs" href="#">各省详情</a>
                            <ul class="subs">
                                <li><a href="Products.html">工业产品</a></li>
                                <li><a href="Living.html" >人民生活</a></li>
                                <li><a href="Estate.html">房地产</a></li>
                                <li><a href="Leaderboard.html" >价格指数</a></li>
                            </ul>
                        </li>

                        <div id="lavalamp" style="left:30px;top:5px"></div>
                    </ul>

                </div>


                <div style="position:absolute;left:20px;top:115px;width:650px;height:570px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

                    <div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text x="50%" y="24" dx="90" style="stroke: white;fill:white;font-size: 15px;text-anchor: middle">疫情地图</text>
                        </svg>
                    </div>

                    <button id="confirmBtn" style="z-index:99999;position:absolute;top:470px;left:125px;width:100px;height:30px;" onclick="selectmode(0)">确诊人数</button>
                    <button id="deathBtn" style="z-index:99999;position:absolute;top:470px;left:275px;width:100px;height:30px;" onclick="selectmode(1)">死亡人数</button>
                    <button id="recoverBtn" style="z-index:99999;position:absolute;top:470px;left:425px;width:100px;height:30px;" onclick="selectmode(2)">治愈人数</button>
                    <div style="z-index:99999;position:absolute;top:525px;left:50px;width:100px;">
                        <div style="width:30px;height:30px">
                            <a href="javascript:void(0);" onclick="playStart()">
                                <img style="width:100%;height:100%" src="../../static/visual/assets/img/播放.png" />
                            </a>
                        </div>
                        <div style="position:absolute;left:50px;top:0px;width:30px;height:30px">
                            <a href="javascript:void(0);" onclick="pause()">
                                <img style="width:100%;height:100%" src="../../static/visual/assets/img/暂停.png" />
                            </a>
                        </div>
                    </div>
                    <div style="z-index:99999;position:absolute;top:500px;left:150px;width:450px;">
                        <input type="text" id="time" style="display:inline;">
                    </div>
                    <div id="ChinaMap" style="z-index:99999;position:absolute;top:10px;left:25px;width:600px;height:450px;"></div>
                    
                    
                    <script>
                        $("#time").ionRangeSlider({
                            skin: "big",
                            min: 0,
                            max: 128,
                            from:10,
                            values:times,
                            onChange:function(data){
                                timeIndex=data.form;
                                animateMap(data.from);
                            }
                        });
                    </script>
                
                    <script type="text/javascript">
                        covid_data={{covid|safe}};
                        initMap();
                        chinaMap(covid_data,modeflag);
                    </script>

                    <div style="position:absolute; z-index: 99999;">

                    </div>

                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>

                <div style="position:absolute;left:690px;top:115px;width:800px;height:285px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

                    <div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text x="50%" y="24" dx="90" style="stroke: white;fill:white;font-size: 15px;text-anchor: middle">增长情况</text>
                        </svg>
                    </div>

                    <div id="CovidIncrease" style="position:absolute;left:0px;top:20px;width:800px;height:265px;z-index: 99999;"></div>

                    <script>
                        confirm={{confirm|safe}};
                        death={{death|safe}};
                        recover={{recover|safe}};
                        initIncrease();
                        drawIncrease(confirm,death,recover);

                    </script>
                    <div style="position:absolute; z-index: 99999;">

                    </div>

                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>

                <div style="position:absolute;left:690px;top:430px;width:280px;height:255px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

                    <div class="title" style="position:absolute;top:-20px;left:-50px;width:100%">
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="100" height="35" style="fill:rgb(44,88,166);" />
                            <text x="50%" y="24" dx="50" style="stroke: white;fill:white;font-size: 15px;text-anchor: middle">比例</text>
                        </svg>
                    </div>

                    <div id="CovidPie" style="z-index:99999;position:absolute;top:0px;left:5px;width:270px;height:255px;"></div>

                    <script>
                        patient_data={{patient|safe}};
                        initPie();
                        drawPie(patient_data);
                    </script>
                    <div style="position:absolute; z-index: 99999;">

                    </div>

                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>

                <div style="position:absolute;left:990px;top:430px;width:500px;height:255px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

                    <div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text x="50%" y="24" dx="90" style="stroke: white;fill:white;font-size: 15px;text-anchor: middle">新增确诊排行</text>
                        </svg>
                    </div>

                    <div id="addPatient" style="position:absolute;left:0px;top:0px;width:500px;height:255px;z-index: 99999;"></div>

                    <script>
                        add_data={{add|safe}};
                        console.log(add_data);
                        initAdd();
                        drawAdd(add_data);
                    </script>
                    <div style="position:absolute; z-index: 99999;">

                    </div>

                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>

                <div style="position:absolute;left:1462px;top:-17px;width:100px;height:20px;z-index: 100000;" >
                    <h4  style="font-size: 12px;color:white">
                        <a style="color:white " href="index.html">返回</ a>
                    </h4>
                </div>

            </div>

        </div>
        <!-- /.charts -->

</div>

</div>

</body>

</html>