<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>疫情可视化分析系统</title>


    {% load static %}
    <!-- CSS -->
    <link href={% static "visual/assets/css/fonts/fontawesome/all.min.css" %} rel="stylesheet">
    <link href={% static "visual/assets/css/fonts/beid.css" %} rel="stylesheet">
    <link href={% static "visual/assets/css/styles.css" %} rel="stylesheet">
    <link href={% static "visual/assets/css/Range/range.css" %} rel="stylesheet">
	
    <!-- JQVMAP -->
    <link href={% static "visual/assets/plugins/jqvmap/jqvmap.min.css" %} rel="stylesheet">

    <!-- dateRangePicker -->
    <link href={% static "visual/assets/plugins/daterangepicker/daterangepicker.css" %} rel="stylesheet">



    <!-- Fonts -->
    <link href={% static "visual/assets/fonts/inter/inter.css" %} rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--[if lt IE 9] -->
    <script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <!-- jQuery -->
    <script src={% static "visual/assets/js/jquery.min.js" %}></script>
    <!--echarts-->
    <script type="text/javascript" src={% static "visual/assets/plugins/echarts/echarts2.js" %}></script>


    <script src={% static "visual/assets/plugins/d3/d3.v5.js" %}></script>
    <!-- Bootstrap -->
    <script src={% static "visual/assets/js/bootstrap.min.js" %}></script>

    <!-- Chart.js -->
    <script src={% static "visual/assets/plugins/chart/Chart.min.js" %} id="_chartJS_min"></script>
    <script src={% static "visual/assets/plugins/chart/Chart.bundle.min.js" %}></script>
    <script src={% static "visual/assets/plugins/chart/chartjs-plugin-annotation.js" %}></script>
    <script src={% static "visual/assets/plugins/chart/chartjs-plugin-labels.js" %}></script>

    <!-- apexcharts -->
    <script src={% static "visual/assets/plugins/apexcharts/apexcharts.min.js" %}></script>

    <!-- Moment -->
    <script src={% static "visual/assets/plugins/lib/moment/moment.min.js" %}></script>

    <!-- User JS -->
    <script src={% static "visual/assets/js/scripts.js" %}></script>
    <script src={% static "visual/assets/js/range.js" %}></script>



    <!-- Modules -->
    <!--    <script src="assets/js/modules.js"></script>-->

<!--
    <script src={% static "visual/assets/js/Estate/Estate.js" %}></script>
    <script src={% static "visual/assets/js/Estate/radar.js" %}></script>
    <script src={% static "visual/assets/js/Estate/radialBar.js" %}></script>
    <script src={% static "visual/assets/js/Estate/LineBar.js" %}></script>
    <script src={% static "visual/assets/js/Estate/ratioBar.js" %}></script>-->

    <script src={% static "visual/assets/js/map/china.js" %}></script>
    <script src={% static "visual/assets/js/map/chinaMap.js" %}></script>
    <script src={% static "visual/assets/js/index.js" %}></script>


    <style>
        body {
            background-color: #010016;
        }
    </style>
</head>

<body>

<link href="http://fonts.googleapis.com/css?family=Maven+Pro:400" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css" />

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<div class="main-container">
    <div class="overflow-hidden">

        
        <!-- charts -->
        <div id="charts" class="page-content-fl" style="position:absolute;>
            <div class="d-flex align-items-center px-6 py-5">
                <div class="text-light mr-auto" style="position:absolute;left:415px;top:12px;width:670px;height:200px">
                    <h1 style="font-size: 23px;color:white"><center>新冠疫情次生灾害可视化</center></h1>
                </div>
            </div>

            <div class="container-fluid p-0" >
			<input type="button" value="hhhhhhhh" onclick="gotoCovid()" style="position:absolute;top:101px;left:707px;width:85px;height:25px;opacity:0;z-index:999999;" ></input>
			<p id="covid" style="position:absolute;top:80px;left:710px;width:100px;height:25px;color:white;font-size:20px;font-weight:bold;text-anchor: middle;">疫情分析</p>
			
            <button style="position:absolute;top:420px;left:810px;width:75px;height:25px;" onclick="selectmode(0)">确诊人数</button>
            <button style="position:absolute;top:420px;left:910px;width:75px;height:25px;" onclick="selectmode(1)">死亡人数</button>
            <button style="position:absolute;top:420px;left:1010px;width:75px;height:25px;" onclick="selectmode(2)">治愈人数</button>
			<div id="timeBox" style="position:absolute;top:370px;left:435px;width:340px">
				<div style="width:30px;height:30px">
					<a href="javascript:void(0);" onclick="playStart()">
						<img style="width:100%;height:100%" src="../../static/visual/assets/img/播放.png" />
					</a>
				</div>
				<div style="position:absolute;left:50px;top:0px;width:30px;height:30px">
					<a href="javascript:void(0);" onclick="pause()">
						<img style="width:100%;height:100%" src="../../static/visual/assets/img/暂停.png" />
					</a>
				</div>
				<input type="text" id="time">
			</div>
            <div id="ChinaMap" style="z-index:99999;position:absolute;top:60px;left:515px;width:480px;height:360px;"></div>
                

            <div style="position:absolute;left:400px;top:0px;width:700px;height:200px">
                <svg width="700">

                    <defs>
                    <linearGradient id="c1" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#7db9de" />
                        <stop offset="100%" stop-color="#0b346e" />
                    </linearGradient>
                    </defs>

                    <line x1="0" y1="0" x2="35" y2="40" transform="translate(175,25)" stroke="url(#c1)" stroke-width="3" />
                    <line x1="0" y1="0" x2="280" y2="0" transform="translate(210,65)" stroke="#0b346e" stroke-width="3" />
                    <line x1="0" y1="0" x2="250" y2="0" transform="translate(225,75)" stroke="#0b346e" stroke-width="3" />
                    <line x1="0" y1="0" x2="220" y2="0" transform="translate(240,85)" stroke="#0b346e" stroke-width="3" />
                    <line x1="0" y1="40" x2="35" y2="0" transform="translate(490,25)" stroke="url(#c1)" stroke-width="3" />


                    <line x1="0" y1="0" x2="160" y2="0" transform="translate(16,25)" stroke="#7db9de" stroke-width="3" />
                    <line x1="0" y1="0" x2="160" y2="0" transform="translate(525,25)" stroke="#7db9de" stroke-width="3" />
                </svg>

            </div>




                <div style="position:absolute;left:430px;top:40px;width:120px;height:200px">

                    <ul id="nav">
                        <li><a class="hsubs" href="#">全国情况</a>
                            <ul class="subs">
                                <li><a href="Covid.html">疫情分析</a></li>
                                <li><a href="GDP.html">经济核算</a></li>
                                <li><a href="Finance.html" >财政金融</a></li>
                                <li><a href="Trading.html">国内贸易</a></li>
                            </ul>
                        </li>

                        <div id="lavalamp" style="left:30px;top:5px"></div>
                    </ul>

                </div>

                <div style="position:absolute;left:950px;top:40px;width:120px;height:200px">

                    <ul id="nav">
                        <li><a class="hsubs" href="#">各省详情</a>
                            <ul class="subs">
                                <li><a href="Products.html">工业产品</a></li>
                                <li><a href="Living.html" >人民生活</a></li>
                                <li><a href="Estate.html">房地产</a></li>
                                <li><a href="Leaderboard.html">价格指数</a></li>
                            </ul>
                        </li>

                        <div id="lavalamp" style="left:30px;top:5px"></div>
                    </ul>

                </div>


                <div style="position:absolute;left:415px;top:485px;width:670px;height:200px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

                    
                    <div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
						<input type="button" value="hhhhhhhh" onclick="gotoLiving()" style="position:absolute;top:0px;left:335px;width:180px;height:35px;opacity:0;z-index:999999;" ></input>
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text id="livingtitle" x="50%" y="24" dx="90" style="stroke: white;font-size: 15px;text-anchor: middle;fill:white;">湖北-人民生活</text>
                        </svg>
                    </div>

					<div id="living" style="position:absolute;left:5px;top:0px;width:660px;height:200px;z-index: 99998;">
                    </div>

                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>

                <div style="position:absolute;left:20px;top:25px;width:370px;height:200px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

                    <div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
						<input type="button" value="hhhhhhhh" onclick="gotoFinance()" style="position:absolute;top:0px;left:185px;width:180px;height:35px;opacity:0;z-index:999999;" ></input>
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text x="50%" y="24" dx="90" style="stroke: white;font-size: 15px;text-anchor: middle;fill:white;">全国-财政金融</text>
                        </svg>
                    </div>


                    <div id="AreaStack" style="position:absolute;top:10px;width:370px;height:190px;z-index: 99999;">
                	</div>
                    
                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>



                <div style="position:absolute;left:20px;top:255px;width:370px;height:200px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

					<div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
						<input type="button" value="hhhhhhhh" onclick="gotoGDP()" style="position:absolute;top:0px;left:185px;width:180px;height:35px;opacity:0;z-index:999999;" ></input>
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text x="50%" y="24" dx="90" style="stroke: white;font-size: 15px;text-anchor: middle;fill:white;">全国-经济核算</text>
                        </svg>
                    </div>


                    <div style="position:absolute; top: -15px; z-index: 99999;">
						<div id="drawRiver"  width="370" height="200"></div>
					</div>

                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>


                <div style="position:absolute;left:20px;top:485px;width:370px;height:200px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

                     <div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
						<input type="button" value="hhhhhhhh" onclick="gotoProduct()" style="position:absolute;top:0px;left:185px;width:180px;height:35px;opacity:0;z-index:999999;" ></input>
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text id="producttitle" x="50%" y="24" dx="90" style="stroke: white;font-size: 15px;text-anchor: middle;fill:white;">湖北-工业产品(202003)</text>
                        </svg>
                    </div>


                    <div style="position:absolute; z-index: 99999;">
						<div style="position:absolute;top:0px;left:0px;z-index: 99999;">
							<div id="drawTreemap" width="370" height="190"></div>
						</div>
					</div>
					
                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>

                <div style="position:absolute;left:1115px;top:25px;width:370px;height:200px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
	
					<div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
						<input type="button" value="hhhhhhhh" onclick="gotoTrade()" style="position:absolute;top:0px;left:185px;width:180px;height:35px;opacity:0;z-index:999999;" ></input>
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text id="tradingtitle" x="50%" y="24" dx="90" style="stroke: white;font-size: 15px;text-anchor: middle;fill:white;">全国-国内贸易(202003)</text>
                        </svg>
                    </div>

					<div style="position:absolute;top:6px;z-index:99999;">
						<div id="nestpie" style="height:200px;width:370px;"></div>
					</div>
                   
                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>



                <div style="position:absolute;left:1115px;top:255px;width:370px;height:200px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>
					
                    <div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
						<input type="button" value="hhhhhhhh" onclick="gotoPrice()" style="position:absolute;top:0px;left:185px;width:180px;height:35px;opacity:0;z-index:999999;" ></input>
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text id="pricetitle" x="50%" y="24" dx="90" style="stroke: white;font-size: 15px;text-anchor: middle;fill:white;">全国-价格指数(202003)</text>
                        </svg>
                    </div>

                    <div id="rank" style="position:absolute;top:-30px;left:0px;width:370px;height:260px;z-index: 99999;">
                    </div>
					
                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>


                <div style="position:absolute;left:1115px;top:485px;width:370px;height:200px">
                    <!--边框-->
                    <div class="t_line_box" >
                        <i class="t_l_line"></i>
                        <i class="l_t_line"></i>
                        <i class="t_r_line"></i>
                        <i class="r_t_line"></i>
                        <i class="l_b_line"></i>
                        <i class="b_l_line"></i>
                        <i class="r_b_line"></i>
                        <i class="b_r_line"></i>
                    </div>

					<div class="title" style="position:absolute;top:-20px;left:-90px;width:100%">
						<input type="button" value="hhhhhhhh" onclick="gotoEstate()" style="position:absolute;top:0px;left:185px;width:180px;height:35px;opacity:0;z-index:999999;" ></input>
                        <svg height="35" width="100%">
                            <rect x=50% rx="20" ry="20" width="180" height="35" style="fill:rgb(44,88,166);" />
                            <text id="estatetitle" x="50%" y="24" dx="90" style="stroke: white;font-size: 15px;text-anchor: middle;fill:white;">湖北-房地产(202003)</text>
                        </svg>
                    </div>

					<div id="chart-radar" style="position:absolute;left:5px;top:0px;width:360px;height:200px;z-index: 99998;">
                    </div>

                    <!--内发光-->
                    <svg width=100% height="100%">
                        <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                            <feComponentTransfer in=SourceAlpha>
                                <feFuncA type="table" tableValues="1 0" />
                            </feComponentTransfer>
                            <feGaussianBlur stdDeviation="4"/>
                            <feOffset dx="0" dy="1" result="offsetblur"/>
                            <feFlood flood-color="#0d619d" result="color"/>
                            <feComposite in2="offsetblur" operator="in"/>
                            <feComposite in2="SourceAlpha" operator="in" />
                            <feMerge>
                                <feMergeNode in="SourceGraphic" />
                                <feMergeNode />
                            </feMerge>
                        </filter>
                        <rect  width=100% height=100%  filter="url(#inset-shadow)" />
                    </svg>

                </div>





            </div>

        </div>
        <!-- /.charts -->

</div>

</div>

<script type="text/javascript">
	function gotoGDP(){
		window.location.href="GDP.html";
	}
	function gotoFinance(){
		window.location.href="Finance.html";
	}
	function gotoProduct(){
		window.location.href="Products.html";
	}
	function gotoPrice(){
		window.location.href="Leaderboard.html";
	}
	function gotoTrade(){
		window.location.href="Trading.html";
	}
	function gotoEstate(){
		window.location.href="Estate.html";
	}
	function gotoLiving(){
		window.location.href="Living.html";
	}
	function gotoCovid(){
		window.location.href="Covid.html";
	}
	$("#time").ionRangeSlider({
		skin: "big",
		min: 0,
		max: 12,
		from: 0,
		values: times,
		onChange:function(data){
			updateTime(data.from)
		}
	});
	covid_data={{covid|safe}};
	initMap();
	chinaMap(covid_data,modeflag);

	AreaStack();
	River();
	getTradePie();
	getRank();
	getTreemap();
	getRadar();
	getBar();
	selectmode(0);
</script>

</body>

</html>