#play{
	position: absolute;
	top: 563px;
	left: 190px;
	height: 25px;
	width: 25px;
}
#range{
	position: absolute;
	top: 568px;
	left: 220px;
	height: 15px;
	width: 350px;
	step: 1;
	value: 2015;
	border-radius: 10px; 
	-webkit-appearance: none;
	background: -webkit-linear-gradient(#FFF, #82C4C3) no-repeat; background-size: 0% 100%;
	border-radius: 10px;
}
#range::-webkit-slider-thumb {
	-webkit-appearance: none;
}
#range::-webkit-slider-runnable-track {
	height: 15px;
	border-radius: 10px;
	border: 2px solid #82C4C3;
}
#range:focus {
	outline: none;
}
#range::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	margin-top: -7px;
	background: #82C4C3; 
	border-radius: 10px;
	border: 1px solid #82C4C3;
}